* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0; 
    color: antiquewhite;
    background-color: rgb(19, 8, 81);
}
.mydash {
    list-style: none;
    display: flex;
    justify-content: start;
    flex-direction: row;
    background-color: aliceblue;
    padding-bottom: 4% ;
    padding-left: 1%;
    padding-right: 1%;
}
.mydash .logo {
    border-style: inset;
    background-color: rgb(35, 180, 199);
    border-radius: 30%;
    font-size: 30px;
    font-weight: 900;
    color: rgb(239, 241, 192);
    padding: 1.5% 1%;
    margin-top: 2%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.mydash .db {
     margin-left: 30%;
     background-color: aliceblue;
     color: rgb(15, 15, 95);
     font-weight: 900;
     font-size: 50px;
     margin-top: 2%;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navbar {
    list-style: circle;
    margin-top: 2%;
    margin-left: 2%;
    display: flex;
    justify-content: space-between;
    margin-right: 2%;
}
.con {
    margin-left: 25%;
    background-color: aliceblue;
    margin-top: 3%;
   
}
. con button {
    padding: 10% 1%;
    transition: all 0.3s ease 0s;
    font-weight: 600;
    font-size: 16px;
    border-radius: 10%;
    background-color: rgb(11, 11, 91);
}
.con button:hover {
    color: rgb(173, 101, 13);
}

.fata {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-right: 20px;
    box-shadow: 0px 0px 10px rgb(150, 179, 169);
    border-radius: 4px;
    font-size: 16px;
       
}

.fata   #daily{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
    
}

.fata  form{
    width: 100%;
    padding: 20px;
    
}

form  div  input[type="number"]{
    height: 30px;
     
}

form button {
    
    margin-bottom: 20px;
    padding: 10px 20px;
    width: 100%;
    
}

form > button[type = "submit"]{
    margin-top: 20px;
}
form > button[type = "submit"], form > button[type = "reset"]{
    background: none;
    color: white;
    border: 1px solid white;
} 



.outputDisplay{
    overflow: auto;
    width: 50%;
    box-shadow:0px 0px 10px rgb(150, 179, 169);
    background-color: rgb(25, 49, 41);
    border-radius: 4px;
    font-size: 16px;
    height: 550px;
    
}

#displayTitle{
    text-align: center;
}

#outputData{
    padding: 0px 20px;
}

@media screen and (max-width: 760px) {
    .milkP{
        display: flex;
        flex-direction: column;  
    }

    .fata {
        width: 100%;
        margin-bottom: 20px; 
    }

    .outputDisplay{
        width: 100%;
       
    }
    
}